In [2]:
import pandas as pd
import json
import numpy as np

file = "purchase_data.json"
hop_df = pd.read_json(file)

In [3]:
plyr_count = pd.DataFrame({"Total Players": [hop_df["SN"].count()]})
plyr_count.head()

   Total Players
0            780

In [4]:
item_count = hop_df["Item Name"].nunique()
avg_price = hop_df["Price"].mean()
total_purchases = hop_df["Item Name"].count()
total_sales = hop_df["Price"].sum()

purchasing_analysis = pd.DataFrame({"Unique Items":[item_count],"Average Price":[avg_price],"Number of Purchases":[total_purchases],
                                   "Total Revenue": [total_sales]})
purchasing_analysis.head()

   Average Price  Number of Purchases  Total Revenue  Unique Items
0       2.931192                  780        2286.33           179

In [5]:
# creates a list of all male purchasing data
male_count = hop_df["Gender"].value_counts()["Male"]
male_revenue = hop_df.loc[hop_df["Gender"]== "Male",:]["Price"].sum()
male_avg_purchase = male_revenue / male_count
male_percent = male_count / total_purchases * 100
male_std = hop_df.loc[hop_df["Gender"]== "Male",:]["Price"].std()
male_normal = (hop_df.loc[hop_df["Gender"]=="Male",:]["Price"] - hop_df.loc[hop_df["Gender"]=="Male",:]["Price"].min() ) / (hop_df.loc[hop_df["Gender"]=="Male",:]["Price"].max() - hop_df.loc[hop_df["Gender"]=="Male",:]["Price"].min() )
male_normal_total = male_normal.sum()

male_data = [male_count, male_avg_purchase, male_revenue,  male_normal_total]

In [8]:
# creates a list of all female purchasing data
female_count = hop_df["Gender"].value_counts()["Female"]
female_revenue = hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].sum()
female_avg_purchase = female_revenue / female_count
female_percent = female_count / total_purchases * 100
female_std = hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].std()
#female_normal = (hop_df.loc[hop_df["Gender"]=="Female",:]["Price"] - hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].min() ) / (hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].max() - hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].min() )
fem_norm = male_normal = (hop_df.loc[hop_df["Gender"]=="Female",:]["Price"] - hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].min() ) / (hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].max() - hop_df.loc[hop_df["Gender"]=="Female",:]["Price"].min() )
female_normal_total = fem_norm.sum()

female_data = [female_count, female_avg_purchase, female_revenue,  female_normal_total]

In [9]:
# creates a list of all other/non-disclosed purchasing data
other_count = hop_df["Gender"].value_counts()["Other / Non-Disclosed"]
other_revenue = hop_df.loc[hop_df["Gender"]=="Other / Non-Disclosed",:]["Price"].sum()
other_avg_purchase = other_revenue / other_count
other_percent = other_count / total_purchases * 100
other_std = hop_df.loc[hop_df["Gender"]=="Other / Non-Disclosed",:]["Price"].std()
other_normal = (hop_df.loc[hop_df["Gender"]=="Other / Non-Disclosed",:]["Price"] - hop_df.loc[hop_df["Gender"]=="Other / Non-Disclosed",:]["Price"].min() ) / (hop_df.loc[hop_df["Gender"]=="Other / Non-Disclosed",:]["Price"].max() - hop_df.loc[hop_df["Gender"]=="Other / Non-Disclosed",:]["Price"].min() )
other_normal_total = other_normal.sum()
other_data = [other_count, other_avg_purchase, other_revenue,  other_normal_total]

In [10]:
gender_df = pd.DataFrame({"Gender":["Male", "Female", "Other/Non-Disclosed"],
                                    "Percentage of Players": [male_percent, female_percent, other_percent],
                                   "Total Count": [male_count,female_count,other_count]})
gender_demographics = gender_df.set_index("Gender")
gender_demographics.head()

                     Percentage of Players  Total Count
Gender
Male                             81.153846          633
Female                           17.435897          136
Other/Non-Disclosed               1.410256           11

In [11]:
gender_data_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                                "Purchase Count": [male_count,female_count,other_count],
                                "Average Purchase Price":[male_avg_purchase,female_avg_purchase,other_avg_purchase],
                                "Total Purchase Value":[male_revenue,female_revenue,other_revenue],
                                "Normalized Totals":[male_normal_total,female_normal_total,other_normal_total]})
gender_purchase_df = gender_data_df.set_index("Gender")
gender_purchase_df.head()

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.950521,310.125000,633,1867.68
Female,2.815515,61.946429,136,382.91
Other / Non-Disclosed,3.249091,6.172131,11,35.74

In [12]:
bins = [0,10,14,19,24,29,34,39,99]
group_names = ["0-10","10-14","14-19","20-24","25-29","30-34","35-39","40 & Older"]
age_bins = pd.cut(hop_df["Age"], bins, labels=group_names)
hop_df["Age Group"] = age_bins

age_010_purchases = hop_df.loc[hop_df["Age Group"]=="0-10",:]["Price"]
age_010_revenue = age_010_purchases.sum()
age_010_count = age_010_purchases.count()
age_010_percent = age_010_count / total_purchases
age_1014_purchases = hop_df.loc[hop_df["Age Group"]=="10-14",:]["Price"]
age_1014_revenue = age_1014_purchases.sum()
age_1014_count = age_1014_purchases.count()
age_1014_percent = age_1014_count / total_purchases
age_1419_purchases = hop_df.loc[hop_df["Age Group"]=="14-19",:]["Price"]
age_1419_revenue = age_1419_purchases.sum()
age_1419_count = age_1419_purchases.count()
age_1419_percent = age_1419_count / total_purchases
age_1924_purchases = hop_df.loc[hop_df["Age Group"]=="20-24",:]["Price"]
age_1924_revenue = age_1924_purchases.sum()
age_1924_count = age_1924_purchases.count()
age_1924_percent = age_1924_count / total_purchases
age_2429_purchases = hop_df.loc[hop_df["Age Group"]=="25-29",:]["Price"]
age_2429_revenue = age_2429_purchases.sum()
age_2429_count = age_2429_purchases.count()
age_2429_percent = age_2429_count / total_purchases
age_2934_purchases = hop_df.loc[hop_df["Age Group"]=="30-34",:]["Price"]
age_2934_revenue = age_2934_purchases.sum()
age_2934_count = age_2934_purchases.count()
age_2934_percent = age_2934_count / total_purchases
age_3439_purchases = hop_df.loc[hop_df["Age Group"]=="35-39",:]["Price"]
age_3439_revenue = age_3439_purchases.sum()
age_3439_count = age_3439_purchases.count()
age_3439_percent = age_3439_count / total_purchases
age_40_purchases = hop_df.loc[hop_df["Age Group"]=="40 & Older",:]["Price"]
age_40_revenue = age_40_purchases.sum()
age_40_count = age_40_purchases.count()
age_40_percent = age_40_count / total_purchases

age_revenue = [age_010_revenue, age_1014_revenue, age_1419_revenue, age_1924_revenue, age_2429_revenue,age_2934_revenue,age_3439_revenue,age_40_revenue]
#age_revenue
age_count = [age_010_count,age_1014_count,age_1419_count,age_1924_count,age_2429_count,age_2934_count,age_3439_count,age_40_count]
age_percent = [age_010_percent,age_1014_percent,age_1419_percent,age_1924_percent,age_2429_percent,age_2934_percent,age_3439_percent,age_40_percent]

In [13]:
# this cell constructs an age demographic dataframe
age_demo = pd.DataFrame({"Age Group":["0-10","10-14","14-19","20-24","25-29","30-34","35-39","40 & Older"],
                                "Percentage of Players":[age_010_percent,age_1014_percent,age_1419_percent,age_1924_percent,age_2429_percent,age_2934_percent,age_3439_percent,age_40_percent],
                                "Total Count":[age_010_count,age_1014_count,age_1419_count,age_1924_count,age_2429_count,age_2934_count,age_3439_count,age_40_count]})
age_demographics = age_demo.set_index("Age Group")
age_demographics

            Percentage of Players  Total Count
Age Group
0-10                     0.041026           32
10-14                    0.039744           31
14-19                    0.170513          133
20-24                    0.430769          336
25-29                    0.160256          125
30-34                    0.082051           64
35-39                    0.053846           42
40 & Older               0.021795           17

In [17]:
age_010_avg = (age_010_revenue/age_010_count)
age_1014_avg = (age_1014_revenue/age_1014_count)
age_1419_avg = (age_1419_revenue/age_1419_count)
age_1924_avg = (age_1924_revenue/age_1924_count)
age_2429_avg = (age_2429_revenue/age_2429_count)
age_2934_avg = (age_2934_revenue/age_2934_count)
age_3439_avg = (age_3439_revenue/age_3439_count)
age_40_avg = (age_40_revenue/age_40_count)

age_avg_purchase = [age_010_avg,age_1014_avg,age_1419_avg,age_1924_avg,age_2429_avg,age_2934_avg,age_3439_avg,age_40_avg]

age_avg_purchase

[3.019375,
 2.7029032258064514,
 2.905413533834586,
 2.9130059523809524,
 2.96264,
 3.08203125,
 2.842857142857143,
 3.1617647058823533]

In [19]:
age_data_df = pd.DataFrame({"Age Group":["0-10","10-14","14-19","20-24","25-29","30-34","35-39","40 & Older"],
                            "Purchase Count":[age_010_count,age_1014_count,age_1419_count,age_1924_count,age_2429_count,age_2934_count,age_3439_count,age_40_count],
                            "Average Purchase Price":[age_010_avg,age_1014_avg,age_1419_avg,age_1924_avg,age_2429_avg,age_2934_avg,age_3439_avg,age_40_avg],
                            "Total Purchase Value":[age_010_revenue, age_1014_revenue, age_1419_revenue, age_1924_revenue, age_2429_revenue,age_2934_revenue,age_3439_revenue,age_40_revenue]})
age_purchase_analysis = age_data_df.set_index("Age Group")
age_purchase_analysis

            Average Purchase Price  Purchase Count  Total Purchase Value
Age Group
0-10                      3.019375              32                 96.62
10-14                     2.702903              31                 83.79
14-19                     2.905414             133                386.42
20-24                     2.913006             336                978.77
25-29                     2.962640             125                370.33
30-34                     3.082031              64                197.25
35-39                     2.842857              42                119.40
40 & Older                3.161765              17                 53.75

In [65]:
sn_sorted

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
144,20,Male,44,Bonecarvin Battle Axe,2.46,Adairialis76,20-24
308,37,Male,79,"Alpha, Oath of Zeal",2.88,Aduephos78,35-39
377,37,Male,174,Primitive Blade,2.46,Aduephos78,35-39
431,37,Male,92,Final Critic,1.36,Aduephos78,35-39
224,26,Male,106,Crying Steel Sickle,2.29,Aeduera68,25-29
721,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68,25-29
647,26,Male,156,Soul-Forged Steel Shortsword,1.16,Aeduera68,25-29
394,25,Male,44,Bonecarvin Battle Axe,2.46,Aela49,25-29
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
529,38,Male,172,Blade of the Grave,1.69,Aelalis34,35-39
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
315,24,Male,54,Eternal Cleaver,3.14,Aelin32,20-24
637,20,Male,18,"Torchlight, Bond of Storms",1.77,Aeliriam77,20-24
359,20,Male,32,Orenmir,4.95,Aeliriam77,20-24
341,20,Male,9,"Thorn, Conqueror of the Corrupted",2.04,Aeliriarin93,20-24
333,22,Male,30,Stormcaller,4.15,Aeliru63,20-24
317,22,Male,173,Stormfury Longsword,4.83,Aeliru63,20-24
503,25,Male,125,Whistling Mithril Warblade,4.32,Aellyria80,25-29
220,33,Male,152,Darkheart,3.15,Aellyrialis39,30-34
676,25,Male,107,"Splitter, Foe Of Subtlety",3.61,Aellysup38,25-29
233,25,Male,129,"Fate, Vengeance of Eternal Justice",1.55,Aelollo59,25-29
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24
770,22,Male,141,Persuasion,3.27,Aenasu69,20-24
41,19,Female,124,Venom Claymore,2.72,Aeral43,14-19
705,25,Male,115,Spectral Diamond Doomblade,4.25,Aeral85,25-29
361,14,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeral97,10-14
62,19,Female,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeri84,14-19
251,19,Female,115,Spectral Diamond Doomblade,4.25,Aeri84,14-19
351,25,Male,179,"Wolf, Promise of the Moonwalker",1.88,Aerillorin70,25-29
312,29,Male,68,"Storm-Weaver, Slayer of Inception",2.49,Aerithllora36,25-29
...,...,...,...,...,...,...,...
207,25,Male,154,Feral Katana,2.19,Yadanun74,25-29
335,16,Male,179,"Wolf, Promise of the Moonwalker",1.88,Yalaeria91,14-19
139,22,Male,91,Celeste,3.71,Yaliru88,20-24
665,23,Male,24,Warped Fetish,2.41,Yalo71,20-24
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,14-19
478,40,Male,168,"Sun Strike, Jaws of Twisted Visions",2.64,Yaralnura48,40 & Older
281,40,Male,47,"Alpha, Reach of Ending Hope",1.55,Yaralnura48,40 & Older
34,22,Male,47,"Alpha, Reach of Ending Hope",1.55,Yararmol43,20-24
274,20,Male,79,"Alpha, Oath of Zeal",2.88,Yarirarn35,20-24
81,38,Male,175,Woeful Adamantite Claymore,1.24,Yaristi64,35-39
236,22,Male,154,Feral Katana,2.19,Yarithllodeu72,20-24
382,25,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Yarithphos28,25-29
291,7,Male,53,Vengeance Cleaver,3.70,Yarithsurgue62,0-10
720,7,Male,82,Nirvana,1.11,Yarithsurgue62,0-10
212,40,Male,111,Misery's End,2.91,Yarmol79,40 & Older
297,24,Male,84,Arcane Gem,2.23,Yarolwen77,20-24
686,24,Male,46,Hopeless Ebon Dualblade,4.75,Yarolwen77,20-24
527,40,Male,55,Vindictive Glass Edge,4.26,Yasriphos60,40 & Older
515,40,Male,11,Brimstone,2.52,Yasriphos60,40 & Older
545,40,Male,171,Scalpel,3.62,Yasriphos60,40 & Older
266,39,Female,143,Frenzied Scimitar,2.60,Yasrisu92,35-39
119,19,Male,180,Stormcaller,2.78,Yasur35,14-19
115,23,Male,9,"Thorn, Conqueror of the Corrupted",2.04,Yasur85,20-24
96,22,Female,54,Eternal Cleaver,3.14,Yasurra52,20-24
241,32,Male,135,Warped Diamond Crusader,4.66,Yathecal72,30-34
363,32,Male,16,Restored Bauble,3.11,Yathecal72,30-34
580,23,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",2.41,Yathecal82,20-24
437,17,Male,82,Nirvana,1.11,Zhisrisu83,14-19
376,17,Male,33,Curved Axe,1.35,Zhisrisu83,14-19
192,20,Male,91,Celeste,3.71,Zontibe81,20-24